<!DOCTYPE html>
<html>
<head>
  <title>PhoneBuzz</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
</head>

<body>
  <div class="container">
    <h2 class="instructions">Welcome to PhoneBuzz!</h2>
    <p>Call +1 (347) 836-5066 to play FizzBuzz on your phone.</p>

    <form>
        <p>Or, enter your mobile phone number and delay (in seconds):</p>

        <b>Phone Number:</b> <input id="to" type="text"
            placeholder="ex: 1234567890"/>
        <b>Delay:</b> <input id="delay" type="text" value="0"
            placeholder="ex: 5" />

        <button>Submit</button>
    </form>

    <h3>History</h3>
    <h4>Last 10 Calls</h4>
    <table class="table table-stripped">
        <tr>
            <th>Call Time </th>
            <th>Phone Number </th>
            <th>Delay (sec) </th>
            <th>FizzBuzz Number </th>
            <th>Replay</th>
        </tr>

      <% @posts = Post.all %>
      <% unless @posts.nil? %>
        <% @posts.last(10).reverse.each do |post| %>
          <tr>
            <td><%= post.created_at %></td>
            <td><%= post.phone %></td>
            <td><%= post.delay %></td>
            <td><%= post.fizzbuzz %></td>
            <td><a href="/replay/<%= post.phone%>/<%= post.delay%>/<%= post.fizzbuzz %>" class="btn btn-danger" id="<%= post.id %>" target="_blank">Replay</a></td>
          </tr>
        <%end%>
        <%end %>
    </table>

    <center>Created by <a href="https://github.com/kl2611/phonebuzz-1" target="_blank">Kelly Liu</a></center>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="form.js"></script>
</body>
</html>
